:root {
  --primary-color: #ea1d2c;
  --secondary-color: #ffb100;
  --tertiary-color: #5dc05b;
  --quaternary-color: #323232;
  --quinary-color: #7e8392;
  --senary-color: #eeeeee;
  --septenary-color: #f4f4f5;
  --octonary-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

